<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desmond.transitionsandroidl" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".BaseActivity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ActivityTransition.CallingActivity"
            android:theme="@style/AppThemeTransitionXML" >
        </activity>
        <activity android:name=".ActivityTransition.CalledActivity" >
        </activity>
        <activity android:name=".FragmentTransition.ControlActivity" >
        </activity>
        <activity android:name=".ActivityTransition.gridview.CallingGridViewActivity" >
        </activity>
        <activity android:name=".ActivityTransition.gridview.CalledGridViewActivity" >
        </activity>
        <activity android:name=".ActivityTransition.gridview.CalledDetailsViewActivity" >
        </activity>
        <activity
            android:name=".ActivityTransition.listview.CallingListViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
